.sloganOferta{
    background-color: red;
    color: white;
    font-weight: bolder;
    width: 210mm;
    height: 70mm;
    font-size: 150px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerOferta{
    width: 210mm;
    height: 5mm;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.tituloOferta{
    padding-top: 5px;
    width: 210mm;
    font-size: 40px;
    background-color: white;
    color: black;
    font-family: "Archivo Black", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cifraoOferta{
    background-color: white;
    width: 210mm;
    font-size: 40px;
    color: #282c34;;
    display: flex;
    align-items: left;
     font-family: "Archivo Black", sans-serif;
}

.precoOferta{
    width: 210mm;
    background-color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: red;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 900;  
}
.precoOfertaReal{
    font-size: 600px;
    align-self: flex-start;
    line-height: 1;
    margin-top: -40px;
}
.precoOfertaCentavos{
    font-size: 100px;
}
.placa-oferta{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    text-align: center;
}
.corpoOferta{
    display: flex;
    flex-direction: column;
    height: 222mm;
    width: 210mm;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}